.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  flex: 1;
}

.NavBar, .Footer {
  flex-shrink: 0;
}